<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 mt-5">
			<h2 class="mat-display-1 mt-3">Blogs</h2>
			<h3>Welcome to {{data?.email}}</h3>
			<div class="mt-2">
				<mat-card class="example-card">
					<mat-card-header>
						<mat-card-title>Title</mat-card-title>
						<mat-card-subtitle>Date</mat-card-subtitle>
						<mat-card-subtitle>Status</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button><a href="add-blog">Add</a></button>
						<button mat-button><a href="edit-blog">Edit</a></button>
						<button mat-button>Delete</button>
					</mat-card-actions>
				</mat-card>
			</div>

	
		</div>
	</div>
</div>